// VARIABLES IMPORT
@import'variables';

// FONT-IMPORT
// @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face{
    font-display:swap;
    font-family:"Amadeus-Light";
    font-style:normal;
    font-weight:400;
    src:url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Light.eot");
    src:url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Light.woff2") format("woff2"),url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Light.woff") format("woff"),url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Light.ttf") format('ttf"')
}
@font-face{
    font-display:swap;
    font-family:"Amadeus-Medium";
    font-style:normal;
    font-weight:400;
    src:url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Medium.eot") format("embedded-opentype"),url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Medium.woff2") format("woff2"),url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Medium.woff") format("woff"),url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Medium.ttf") format("ttf")
}
@font-face{
    font-display:swap;
    font-family:"Amadeus-Regular";
    src:url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Regular.eot");
    src:url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Regular.woff2") format("woff2"),url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Regular.woff") format("woff"),url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Regular.ttf") format("ttf")
}
@font-face{
    font-display:swap;
    font-family:"Amadeus-Black";
    src:url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Black.eot");
    src:url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Black.woff2") format("woff2"),url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Black.woff") format("woff"),url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Black.ttf") format("ttf")
}
@font-face{
    font-display:swap;
    font-family:"Amadeus-BlackItalic";
    src:url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-BlackItalic.eot");
    src:url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-BlackItalic.woff2") format("woff2"),url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-BlackItalic.woff") format("woff"),url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-BlackItalic.ttf") format("ttf")
}
@font-face{
    font-display:swap;
    font-family:"AmadeusNeue-Bold";
    src:url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Bold.eot");
    src:url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Bold.woff2") format("woff2"),url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Bold.woff") format("woff"),url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Bold.ttf") format("ttf")
}
@font-face{
    font-display:swap;
    font-family:"Amadeus-BoldItalic";
    src:url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-BoldItalic.eot");
    src:url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-BoldItalic.woff2") format("woff2"),url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-BoldItalic.woff") format("woff"),url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-BoldItalic.ttf") format("ttf")
}
@font-face{
    font-display:swap;
    font-family:"Amadeus-LightItalic";
    src:url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-LightItalic.eot");
    src:url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-LightItalic.woff2") format("woff2"),url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-LightItalic.woff") format("woff"),url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-LightItalic.ttf") format("ttf")
}
@font-face{
    font-display:swap;
    font-family:"Amadeus-RegularItalic";
    src:url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-RegularItalic.eot");
    src:url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-RegularItalic.woff2") format("woff2"),url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-RegularItalic.woff") format("woff"),url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-RegularItalic.ttf") format("ttf")
}
@font-face{
    font-display:swap;
    font-family:"Amadeus-MediumItalic";
    src:url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-MediumItalic.eot");
    src:url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-MediumItalic.woff2") format("woff2"),url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-MediumItalic.woff") format("woff"),url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-MediumItalic.ttf") format("ttf")
}

// COMMON STYLES
body{
    font-family:"Amadeus-Regular";
    margin: 0rem;
    line-height: 1rem;
    }
p{
    color: $paragraph-color;
    margin: 0rem;
    font-size: 1rem;
}
button{
    background: none;
    border: none;
    padding-block: 0rem;
    padding-inline: 0rem;
}
// LOGIN PAGE
.page-container{
    .page-content{
        width: 100vw;
        height: 100vh;
        .login-page-container{
            display: grid;
            grid-template-columns: 50% 50%;
            .adv-banner {
                height: 100vh;
                box-sizing: border-box;
                #banner-img {
                    width: 100%;
                    height: 100vh;
                    object-fit: cover;
                    border-radius: 8px;
                    filter: saturate(0.5) sepia(0.4);
                    transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;
                    opacity: 0;
                    transform: scale(0.8);
                    &.fade-zoom {
                        opacity: 1;
                        transform: scale(0.9);
                    }
                }
            }
            .login-wrapper{
                height: 100vh;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                form{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .logo{
                        margin-bottom: 1rem;
                        img{
                            content: url('https://amadeus.com/content/dam/amadeuswebevo/brand/amadeus/logos/amadeus-logo-dark-sky.png');
                            width: 130px;
                            height: 50px;
                            object-fit: contain;
                        }
                    }
                    .form{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .inputs-container{
                            display: flex;
                            flex-direction: column;
                            background: $light-blue;
                            border-radius: 8px;
                            input{
                                width: 18rem;
                                padding: 1rem;
                                border: none;
                                background: none;
                                outline: $light-blue;
                                ::placeholder{
                                    color: $dark-blue;
                                }
                                &#name{
                                    margin-bottom: 0rem;
                                    border-bottom: 1px solid rgb(194, 222, 231);
                                }
                                &#pwd{
                                    margin-top: 0rem;
                                }
                            }
                        }
                        #sign-in{
                            width: 100%;
                            margin-top: 1rem;
                            padding: .8rem;
                            border: none;
                            border-radius: 8px;
                            background: $dark-blue;
                            color: white;
                            font-size: 1.2rem;
                            transition: transform ease-in-out 0.15s;
                            &:hover{
                                transform: scale(1.03);
                            }
                        }
                    }
                }
            }
        }
    }
}

// DASHBOARD
#dashboard{
    background: white;
    position: relative;
    .dashboard-navigation-bar{
        width: 100vw;
        height: 80px;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        box-sizing: border-box;
        overflow-x: hidden;
        box-sizing: border-box;
        .dnb-left{
            display: flex;
            align-items: flex-start;
            .dnb-logo{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-right: 1rem;
                img{
                    content: url('/assets/logo.png');
                    margin-right: .5rem;
                }
                p{
                    color: $dark-blue;
                    font-size: .8rem;
                    margin-top: .2rem;
                }
            }
            .logo-bottom{
                width: fit-content;
                .chip{
                    padding: .2rem .5rem;
                    background: $violet;
                    border-radius: 20px;
                    font-size: .8rem;
                    color: white;
                    font-weight: 300;
                }
            }
        }
        .dnb-right{
            display: flex;
            align-items: center;
            .dnb-button{
                font-size: 1.2rem;
                transition: transform ease-in-out 0.15s;
                margin-right: 1rem;
                i{color: $dark-blue;}
                &:hover{
                    transform: scale(1.03);
                    cursor: pointer;
                }
            }
            #search{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 200px;
                height: 2rem;
                border-radius: 8px;
                background: rgb(246, 241, 241);
                margin-right: 1rem;
                padding: .5rem;
                .search-label{
                    color: gray;
                    font-size: .8rem;
                }

            }
            #profile{
                display: flex;
                transition: transform ease-in-out 0.15s;
                &:hover{
                    transform: scale(1.03);
                    cursor: pointer;
                }
                .avatar-picture{
                    padding-left: 1rem;
                    border-left: 1px solid gray;
                    margin-right: .8rem;
                    img{
                        content: url('https://plus.unsplash.com/premium_photo-1672239496290-5061cfee7ebb?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
                        width: 32px;
                        height: 32px;
                        object-fit: cover;
                        border-radius: $round;
                    }
                }
                .profile-details{
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    .name{
                        font-weight: 800;
                    }
                    .role{
                        color: $accent-blue;
                        font-size: .8rem;
                    }
                }
            }
        }
    }
    .dashboard-container{
        display: grid;
        grid-template-columns: 100px auto;
        height: calc(100% - 80px);
        .dashboard-left-drawer{
            width: 100px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .menu-container{
                background: white;
                border-radius: 0px 20px 20px 0px;
                box-shadow: $shadow;
                padding-top: .8rem;
                padding-bottom: .8rem;
                .menu-content{
                    .menu-list{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .menu-item{
                            margin: .8rem auto;
                            transition: transform ease-in-out 0.15s;
                            padding: .5rem .3rem;
                            &:hover{
                                transform: scale(1.03);
                                cursor: pointer;
                            }
                            &.active{
                                background: $dark-blue;
                                box-sizing: border-box;
                                border-radius: 8px;
                                .icon{
                                    i{
                                        color: $light-blue;
                                    }
                                }
                                .label{
                                    color: $light-blue;
                                    font-weight: 800;
                                }
                            }
                            .icon{
                                margin-bottom: .5rem;
                                line-height: normal;
                                i{
                                    font-size: 2rem;
                                    color: $dark-blue;
                                }
                            }
                            .label{
                                color: $dark-blue;
                                font-size: .8rem;
                            }
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            .dashboard-left-drawer{
                width: fit-content;
                height: fit-content;
                margin: auto;
                .menu-container{
                    border-radius: 20px!important;
                    .menu-content{
                        .menu-list{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            align-items: center;
                            .menu-item{
                                margin: 0rem 1rem;
                            }
                            }
                        }
                    }
                }
            }
        .dashboard-main{
            padding: 1rem;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            .dashboard-main-content{
                border-radius: 20px;
                background: $light-blue;
                height: 100%;
                width: 100%;
                box-sizing: border-box;
                .view-container{
                    position: relative;
                    width: 100%;
                    .view-content{
                        width: 100%;
                        .view-header{
                            width: 100%;
                            position: absolute;
                            background: white;
                            box-shadow: $shadow;
                            border-radius: 20px 20px 0px 0px;
                            padding: 1.5rem;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .view-header-titles{
                                .view-header-title{
                                    font-size: 1.5rem;
                                    font-weight: 900;
                                    margin-bottom: .5rem;
                                }
                            }
                            .view-header-actions{
                                display: flex;
                                align-items: center;
                                .view-header-action{
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: flex-start;
                                    .btn-group{
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: flex-start;
                                        .action-label{
                                            padding-left: .75rem;
                                        }
                                        .dropdown-toggle{
                                            font-weight: 800;
                                        }
                                    }
                                }
                            }
                        }
                        .view-main{
                            overflow-y: scroll;
                            scrollbar-width: none;
                        }
                    }
                }
            }
        }
    }
    // CHAT
    #chat-container{
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 2rem;
        z-index: 10000;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: fit-content;
        .chat-buttons{
            display: flex;
            margin-bottom: 1rem;
            .label{
                display: flex;
                padding: .5rem;
                background: white;
                border-radius: 8px;
                height: fit-content !important;
                margin-right: .5rem;
                box-shadow: $shadow;
                p{
                    color: $paragraph-color;
                    margin-bottom: 0rem;
                }

            }
            .button-container{
                #displayChat{
                    border-radius: $round;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background: $accent-blue;
                    padding-inline-start: 0rem;
                    padding-inline-end: 0rem;
                    padding-block-start: 0rem;
                    padding-block-end: 0rem;
                    padding-block: 0rem;
                    padding-inline: 0rem;
                    padding: 1.1rem .8rem;
                    i{
                        font-size: 1.5rem;
                        color: white;
                    }
                }
            }
        }
        #chat-dialogue{
            display: none;
            width: 24rem;
            background: white;
            flex-direction: column;
            border-radius: 8px;
            box-shadow: $shadow;
            .chat-dialogue-header{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 1rem;
                background: $dark-blue;
                border-radius: 8px 8px 0px 0px;
                .status{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .img{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: fit-content;
                        border-radius: $round;
                        padding: .3rem;
                        img{
                            width: 26px;
                            height: 26px;
                        }
                    }
                    .name{
                        margin-left: .5rem;
                        #nevio-title{
                            margin-bottom: 0rem;
                            color: white;
                            font-size: 1rem;
                        }
                        .label{
                            display: flex;
                            align-items: center;
                            .dot{
                                width: .5rem;
                                height: .5rem;
                                border-radius: $round;
                                background-color: green;
                                margin-right: .5rem;
                            }
                            p{
                                color: $light-blue;
                                font-size: .8rem;
                                margin-bottom: 0rem !important;
                            }
                        }
                    }
                }
                .close{
                    #close-chat{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        border-radius: $round;
                        i{
                            font-size: 1rem;
                            margin-bottom: 0rem;
                            color: white;
                        }
                    }
                }
            }
            .chat-dialogue-body{
                height: 22rem;
                overflow-y: scroll;
                padding: 1rem;
                .user-input{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    .user-input-content{
                        display: flex;
                        flex-direction: column;
                        .u-message{
                            display: flex;
                            width: fit-content;
                            margin: auto;
                            padding: .5rem;
                            border-radius: 8px;
                            background: rgb(244, 231, 231);
                            line-height: 1.2rem;
                        }
                        .timing{
                            font-size: .8rem;
                            color: gray;
                            margin: .5rem .2rem;
                            text-align: right;
                        }
                    }

                }
                .response{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    .response-content{
                        .b-message{
                            display: flex;
                            width: fit-content;
                            margin: auto;
                            padding: .5rem;
                            border-radius: 8px;
                            background: $light-blue;
                            line-height: 1.2rem;
                        }
                        .timing{
                            font-size: .8rem;
                            color: gray;
                            margin: .5rem .2rem;
                        }
                    }
                }
            }
            .chat-dialogue-input{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin: 1rem auto 0rem auto;
                padding: .8rem;
                border-top: 1px solid $light-blue;
                box-sizing: border-box;
                input{
                    padding: .2rem;
                    border: none;
                    outline: none;
                    width: 100%;
                    margin-right: .5rem;
                }
                .send{
                    button{
                        background: none;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        i{
                            font-size: 1rem;
                        }
                    }
                }
            }

        }
    }
}
