body {
  margin: 0rem;
  line-height: 1rem;
}
@font-face {
  font-display: swap;
  font-family: "Amadeus-Light";
  font-style: normal;
  font-weight: 400;
  src: url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Light.eot");
  src: url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Light.woff2") format("woff2"), url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Light.woff") format("woff"), url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Light.ttf") format('ttf"');
}
@font-face {
  font-display: swap;
  font-family: "Amadeus-Medium";
  font-style: normal;
  font-weight: 400;
  src: url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Medium.eot") format("embedded-opentype"), url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Medium.woff2") format("woff2"), url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Medium.woff") format("woff"), url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Medium.ttf") format("ttf");
}
@font-face {
  font-display: swap;
  font-family: "Amadeus-Regular";
  src: url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Regular.eot");
  src: url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Regular.woff2") format("woff2"), url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Regular.woff") format("woff"), url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Regular.ttf") format("ttf");
}
@font-face {
  font-display: swap;
  font-family: "Amadeus-Black";
  src: url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Black.eot");
  src: url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Black.woff2") format("woff2"), url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Black.woff") format("woff"), url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Black.ttf") format("ttf");
}
@font-face {
  font-display: swap;
  font-family: "Amadeus-BlackItalic";
  src: url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-BlackItalic.eot");
  src: url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-BlackItalic.woff2") format("woff2"), url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-BlackItalic.woff") format("woff"), url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-BlackItalic.ttf") format("ttf");
}
@font-face {
  font-display: swap;
  font-family: "AmadeusNeue-Bold";
  src: url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Bold.eot");
  src: url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Bold.woff2") format("woff2"), url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Bold.woff") format("woff"), url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Bold.ttf") format("ttf");
}
@font-face {
  font-display: swap;
  font-family: "Amadeus-BoldItalic";
  src: url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-BoldItalic.eot");
  src: url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-BoldItalic.woff2") format("woff2"), url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-BoldItalic.woff") format("woff"), url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-BoldItalic.ttf") format("ttf");
}
@font-face {
  font-display: swap;
  font-family: "Amadeus-LightItalic";
  src: url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-LightItalic.eot");
  src: url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-LightItalic.woff2") format("woff2"), url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-LightItalic.woff") format("woff"), url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-LightItalic.ttf") format("ttf");
}
@font-face {
  font-display: swap;
  font-family: "Amadeus-RegularItalic";
  src: url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-RegularItalic.eot");
  src: url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-RegularItalic.woff2") format("woff2"), url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-RegularItalic.woff") format("woff"), url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-RegularItalic.ttf") format("ttf");
}
@font-face {
  font-display: swap;
  font-family: "Amadeus-MediumItalic";
  src: url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-MediumItalic.eot");
  src: url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-MediumItalic.woff2") format("woff2"), url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-MediumItalic.woff") format("woff"), url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-MediumItalic.ttf") format("ttf");
}

p {
  color: gray;
  margin: 0rem;
  font-size: 1rem;
}

button {
  background: none;
  border: none;
  padding-block: 0rem;
  padding-inline: 0rem;
}

.page-container .page-content {
  width: 100vw;
  height: 100vh;
}
.page-container .page-content .login-page-container {
  display: grid;
  grid-template-columns: 50% 50%;
}
.page-container .page-content .login-page-container .adv-banner {
  height: 100vh;
  box-sizing: border-box;
}
.page-container .page-content .login-page-container .adv-banner #banner-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  border-radius: 8px;
  filter: saturate(0.5) sepia(0.4);
  transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;
  opacity: 0;
  transform: scale(0.8);
}
.page-container .page-content .login-page-container .adv-banner #banner-img.fade-zoom {
  opacity: 1;
  transform: scale(0.9);
}
.page-container .page-content .login-page-container .login-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-container .page-content .login-page-container .login-wrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-container .page-content .login-page-container .login-wrapper form .logo {
  margin-bottom: 1rem;
}
.page-container .page-content .login-page-container .login-wrapper form .logo img {
  content: url("https://amadeus.com/content/dam/amadeuswebevo/brand/amadeus/logos/amadeus-logo-dark-sky.png");
  width: 130px;
  height: 50px;
  object-fit: contain;
}
.page-container .page-content .login-page-container .login-wrapper form .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@font-face {
  font-display: swap;
  font-family: "Amadeus-Regular";
  src: url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Regular.eot");
  src: url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Regular.woff2") format("woff2"), url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Regular.woff") format("woff"), url("https://amadeus.com/etc.clientlibs/amadeuswebevo/clientlibs/clientlib-amadeus/resources/fonts/amadeus-neue/AmadeusNeue-Regular.ttf") format("ttf");
}
.page-container .page-content .login-page-container .login-wrapper form .form .inputs-container {
  display: flex;
  flex-direction: column;
  background: #EBF3FE;
  border-radius: 8px;
}
.page-container .page-content .login-page-container .login-wrapper form .form .inputs-container input {
  width: 18rem;
  padding: 1rem;
  border: none;
  background: none;
  outline: #EBF3FE;
}
.page-container .page-content .login-page-container .login-wrapper form .form .inputs-container input ::placeholder {
  color: #000835;
}
.page-container .page-content .login-page-container .login-wrapper form .form .inputs-container input#name {
  margin-bottom: 0rem;
  border-bottom: 1px solid rgb(194, 222, 231);
}
.page-container .page-content .login-page-container .login-wrapper form .form .inputs-container input#pwd {
  margin-top: 0rem;
}
.page-container .page-content .login-page-container .login-wrapper form .form #sign-in {
  width: 100%;
  margin-top: 1rem;
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  background: #000835;
  color: white;
  font-size: 1.2rem;
  transition: transform ease-in-out 0.15s;
}
.page-container .page-content .login-page-container .login-wrapper form .form #sign-in:hover {
  transform: scale(1.03);
}

#dashboard {
  background: white;
  position: relative;
}
#dashboard .dashboard-navigation-bar {
  width: 100vw;
  height: 80px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  overflow-x: hidden;
  box-sizing: border-box;
}
#dashboard .dashboard-navigation-bar .dnb-left {
  display: flex;
  align-items: flex-start;
}
#dashboard .dashboard-navigation-bar .dnb-left .dnb-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 1rem;
}
#dashboard .dashboard-navigation-bar .dnb-left .dnb-logo img {
  content: url("/assets/logo.png");
  margin-right: 0.5rem;
}
#dashboard .dashboard-navigation-bar .dnb-left .dnb-logo p {
  color: #000835;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}
#dashboard .dashboard-navigation-bar .dnb-left .logo-bottom {
  width: fit-content;
}
#dashboard .dashboard-navigation-bar .dnb-left .logo-bottom .chip {
  padding: 0.2rem 0.5rem;
  background: #9340C8;
  border-radius: 20px;
  font-size: 0.8rem;
  color: white;
  font-weight: 300;
}
#dashboard .dashboard-navigation-bar .dnb-right {
  display: flex;
  align-items: center;
}
#dashboard .dashboard-navigation-bar .dnb-right .dnb-button {
  font-size: 1.2rem;
  transition: transform ease-in-out 0.15s;
  margin-right: 1rem;
}
#dashboard .dashboard-navigation-bar .dnb-right .dnb-button i {
  color: #000835;
}
#dashboard .dashboard-navigation-bar .dnb-right .dnb-button:hover {
  transform: scale(1.03);
  cursor: pointer;
}
#dashboard .dashboard-navigation-bar .dnb-right #search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 2rem;
  border-radius: 8px;
  background: rgb(246, 241, 241);
  margin-right: 1rem;
  padding: 0.5rem;
}
#dashboard .dashboard-navigation-bar .dnb-right #search .search-label {
  color: gray;
  font-size: 0.8rem;
}
#dashboard .dashboard-navigation-bar .dnb-right #profile {
  display: flex;
  transition: transform ease-in-out 0.15s;
}
#dashboard .dashboard-navigation-bar .dnb-right #profile:hover {
  transform: scale(1.03);
  cursor: pointer;
}
#dashboard .dashboard-navigation-bar .dnb-right #profile .avatar-picture {
  padding-left: 1rem;
  border-left: 1px solid gray;
  margin-right: 0.8rem;
}
#dashboard .dashboard-navigation-bar .dnb-right #profile .avatar-picture img {
  content: url("https://plus.unsplash.com/premium_photo-1672239496290-5061cfee7ebb?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 100%;
}
#dashboard .dashboard-navigation-bar .dnb-right #profile .profile-details {
  display: flex;
  flex-direction: column;
  text-align: left;
}
#dashboard .dashboard-navigation-bar .dnb-right #profile .profile-details .name {
  font-weight: 800;
}
#dashboard .dashboard-navigation-bar .dnb-right #profile .profile-details .role {
  color: #1664DD;
  font-size: 0.8rem;
}
#dashboard .dashboard-container {
  display: grid;
  grid-template-columns: 100px auto;
  height: calc(100% - 80px);
}
#dashboard .dashboard-container .dashboard-left-drawer {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#dashboard .dashboard-container .dashboard-left-drawer .menu-container {
  background: white;
  border-radius: 0px 20px 20px 0px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
#dashboard .dashboard-container .dashboard-left-drawer .menu-container .menu-content .menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#dashboard .dashboard-container .dashboard-left-drawer .menu-container .menu-content .menu-list .menu-item {
  margin: 0.8rem auto;
  transition: transform ease-in-out 0.15s;
  padding: 0.5rem;
}
#dashboard .dashboard-container .dashboard-left-drawer .menu-container .menu-content .menu-list .menu-item:hover {
  transform: scale(1.03);
  cursor: pointer;
}
#dashboard .dashboard-container .dashboard-left-drawer .menu-container .menu-content .menu-list .menu-item.active {
  background: #000835;
  box-sizing: border-box;
  border-radius: 8px;
}
#dashboard .dashboard-container .dashboard-left-drawer .menu-container .menu-content .menu-list .menu-item.active .icon i {
  color: #EBF3FE;
}
#dashboard .dashboard-container .dashboard-left-drawer .menu-container .menu-content .menu-list .menu-item.active .label {
  color: #EBF3FE;
  font-weight: 800;
}
#dashboard .dashboard-container .dashboard-left-drawer .menu-container .menu-content .menu-list .menu-item .icon {
  margin-bottom: 0.5rem;
  line-height: normal;
}
#dashboard .dashboard-container .dashboard-left-drawer .menu-container .menu-content .menu-list .menu-item .icon i {
  font-size: 2rem;
  color: #000835;
}
#dashboard .dashboard-container .dashboard-left-drawer .menu-container .menu-content .menu-list .menu-item .label {
  color: #000835;
  font-size: 0.8rem;
}
@media screen and (max-width: 768px) {
  #dashboard .dashboard-container {
    display: flex;
    flex-direction: column;
  }
  #dashboard .dashboard-container .dashboard-left-drawer {
    width: fit-content;
    height: fit-content;
    margin: auto;
  }
  #dashboard .dashboard-container .dashboard-left-drawer .menu-container {
    border-radius: 20px !important;
  }
  #dashboard .dashboard-container .dashboard-left-drawer .menu-container .menu-content .menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  #dashboard .dashboard-container .dashboard-left-drawer .menu-container .menu-content .menu-list .menu-item {
    margin: 0rem 1rem;
  }
}
#dashboard .dashboard-container .dashboard-main {
  padding: 1rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
#dashboard .dashboard-container .dashboard-main .dashboard-main-content {
  border-radius: 20px;
  background: #EBF3FE;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
#dashboard .dashboard-container .dashboard-main .dashboard-main-content .view-container {
  position: relative;
  width: 100%;
}
#dashboard .dashboard-container .dashboard-main .dashboard-main-content .view-container .view-content {
  width: 100%;
}
#dashboard .dashboard-container .dashboard-main .dashboard-main-content .view-container .view-content .view-header {
  width: 100%;
  position: absolute;
  background: white;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  border-radius: 20px 20px 0px 0px;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#dashboard .dashboard-container .dashboard-main .dashboard-main-content .view-container .view-content .view-header .view-header-titles .view-header-title {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
}
#dashboard .dashboard-container .dashboard-main .dashboard-main-content .view-container .view-content .view-header .view-header-actions {
  display: flex;
  align-items: center;
}
#dashboard .dashboard-container .dashboard-main .dashboard-main-content .view-container .view-content .view-header .view-header-actions .view-header-action .btn-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#dashboard .dashboard-container .dashboard-main .dashboard-main-content .view-container .view-content .view-header .view-header-actions .view-header-action .btn-group .action-label {
  padding-left: 0.75rem;
}
#dashboard .dashboard-container .dashboard-main .dashboard-main-content .view-container .view-content .view-header .view-header-actions .view-header-action .btn-group .dropdown-toggle {
  font-weight: 800;
}
#dashboard .dashboard-container .dashboard-main .dashboard-main-content .view-container .view-content .view-header .view-header-actions .view-header-action .split {
  flex-direction: row;
}
#dashboard .dashboard-container .dashboard-main .dashboard-main-content .view-container .view-content .view-main {
  overflow-y: scroll;
  scrollbar-width: none;
  padding-top: 150px;
}
#dashboard .dashboard-container .dashboard-main .dashboard-main-content .view-container .view-content .view-main #product-table {
  width: 95%;
  margin: auto;
}
#dashboard .dashboard-container .dashboard-main .dashboard-main-content .view-container .view-content .view-main #product-table table {
  border-radius: 8px;
}
#dashboard .dashboard-container .dashboard-main .dashboard-main-content .view-container .view-content .view-main #product-table .status-dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
#dashboard .dashboard-container .dashboard-main .dashboard-main-content .view-container .view-content .view-main #product-table .status-active {
  background-color: green;
}
#dashboard .dashboard-container .dashboard-main .dashboard-main-content .view-container .view-content .view-main #product-table .status-draft {
  background-color: blue;
}
#dashboard .dashboard-container .dashboard-main .dashboard-main-content .view-container .view-content .view-main #product-table .status-inactive {
  background-color: gray;
}
#dashboard #chat-container {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2rem;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: fit-content;
}
#dashboard #chat-container .chat-buttons {
  display: flex;
  margin-bottom: 1rem;
}
#dashboard #chat-container .chat-buttons .label {
  display: flex;
  padding: 0.5rem;
  background: white;
  border-radius: 8px;
  height: fit-content !important;
  margin-right: 0.5rem;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}
#dashboard #chat-container .chat-buttons .label p {
  color: gray;
  margin-bottom: 0rem;
}
#dashboard #chat-container .chat-buttons .button-container #displayChat {
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #1664DD;
  padding-inline-start: 0rem;
  padding-inline-end: 0rem;
  padding-block-start: 0rem;
  padding-block-end: 0rem;
  padding-block: 0rem;
  padding-inline: 0rem;
  padding: 1.1rem 0.8rem;
}
#dashboard #chat-container .chat-buttons .button-container #displayChat i {
  font-size: 1.5rem;
  color: white;
}
#dashboard #chat-container #chat-dialogue {
  display: none;
  width: 24rem;
  background: white;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}
#dashboard #chat-container #chat-dialogue .chat-dialogue-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #000835;
  border-radius: 8px 8px 0px 0px;
}
#dashboard #chat-container #chat-dialogue .chat-dialogue-header .status {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#dashboard #chat-container #chat-dialogue .chat-dialogue-header .status .img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  border-radius: 100%;
  padding: 0.3rem;
}
#dashboard #chat-container #chat-dialogue .chat-dialogue-header .status .img img {
  width: 26px;
  height: 26px;
}
#dashboard #chat-container #chat-dialogue .chat-dialogue-header .status .name {
  margin-left: 0.5rem;
}
#dashboard #chat-container #chat-dialogue .chat-dialogue-header .status .name #nevio-title {
  margin-bottom: 0rem;
  color: white;
  font-size: 1rem;
}
#dashboard #chat-container #chat-dialogue .chat-dialogue-header .status .name .label {
  display: flex;
  align-items: center;
}
#dashboard #chat-container #chat-dialogue .chat-dialogue-header .status .name .label .dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  background-color: green;
  margin-right: 0.5rem;
}
#dashboard #chat-container #chat-dialogue .chat-dialogue-header .status .name .label p {
  color: #EBF3FE;
  font-size: 0.8rem;
  margin-bottom: 0rem !important;
}
#dashboard #chat-container #chat-dialogue .chat-dialogue-header .close #close-chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 100%;
}
#dashboard #chat-container #chat-dialogue .chat-dialogue-header .close #close-chat i {
  font-size: 1rem;
  margin-bottom: 0rem;
  color: white;
}
#dashboard #chat-container #chat-dialogue .chat-dialogue-body {
  height: 22rem;
  overflow-y: scroll;
  padding: 1rem;
}
#dashboard #chat-container #chat-dialogue .chat-dialogue-body .user-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#dashboard #chat-container #chat-dialogue .chat-dialogue-body .user-input .user-input-content {
  display: flex;
  flex-direction: column;
}
#dashboard #chat-container #chat-dialogue .chat-dialogue-body .user-input .user-input-content .u-message {
  display: flex;
  width: fit-content;
  margin: auto;
  padding: 0.5rem;
  border-radius: 8px;
  background: rgb(244, 231, 231);
  line-height: 1.2rem;
}
#dashboard #chat-container #chat-dialogue .chat-dialogue-body .user-input .user-input-content .timing {
  font-size: 0.8rem;
  color: gray;
  margin: 0.5rem 0.2rem;
  text-align: right;
}
#dashboard #chat-container #chat-dialogue .chat-dialogue-body .response {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#dashboard #chat-container #chat-dialogue .chat-dialogue-body .response .response-content .b-message {
  display: flex;
  width: fit-content;
  margin: auto;
  padding: 0.5rem;
  border-radius: 8px;
  background: #EBF3FE;
  line-height: 1.2rem;
}
#dashboard #chat-container #chat-dialogue .chat-dialogue-body .response .response-content .timing {
  font-size: 0.8rem;
  color: gray;
  margin: 0.5rem 0.2rem;
}
#dashboard #chat-container #chat-dialogue .chat-dialogue-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem auto 0rem auto;
  padding: 0.8rem;
  border-top: 1px solid #EBF3FE;
  box-sizing: border-box;
}
#dashboard #chat-container #chat-dialogue .chat-dialogue-input input {
  padding: 0.2rem;
  border: none;
  outline: none;
  width: 100%;
  margin-right: 0.5rem;
}
#dashboard #chat-container #chat-dialogue .chat-dialogue-input .send button {
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#dashboard #chat-container #chat-dialogue .chat-dialogue-input .send button i {
  font-size: 1rem;
}

/*# sourceMappingURL=main.css.map */
