// FONT-FAMILY

$font: 'Inter', sans-serif;

// COLORS
$paragraph-color: gray;
$dark-blue: #000833;
$light-blue: #EBF3FE;
$violet: #9340C8;
$accent-blue: #1664DD;

// GRADIENTS
$blues-gradient: radial-gradient(131.85deg, #c6c8ca -100%, #EBF3FE 200%);

// SHADOWS
$shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);

// RADIUS
$round: 100%;